/* deal with different browser css defaults by reseting here */
@import url("reset.css");

/* custom fonts */
@import url("robotolight.css");

/* fixed maximum size, center */
html {
	background: #eee;	
	padding: 0px;
	margin:    0 auto;
    max-width: 800px;
    height: 100%;
	padding-left: 0px; 
}

body {
	/*background: #111 url("img/an_background_01.jpg") no-repeat fixed top left; #eee*/	
	margin: 0;
	padding: 0;

	/* inheritable font */
	-webkit-font-smoothing: antialiased; 
	/*font-family: 'robotolight', Helvetica, Arial, sans-serif;*/
    font-family: "Gill Sans", Verdana, "Myriad Pro", sans-serif;
    
	font-size: .85em;
	font-weight: lighter;
	line-height: 1.6em;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'robotothin', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
}
h1              { font-size: 3.0em; line-height: 1.5em; margin: .67em 0 }
h2              { font-size: 2.4em; line-height: 1.2em; margin: .75em 0 }
h3              { font-size: 1.9em; line-height: 1.0em; margin: .83em 0 }
h4              { font-size: 1.5em; line-height: 0.7em; margin: 1.0em 0 }
h5              { font-size: 1.2em; line-height: 0.6em; margin: 1.5em 0 }
h6              { font-size: 1.0em; line-height: 0.5em; margin: 1.67em 0 }

#header_pad {
	height: 60px;
}

header {
	margin-top: 60px;
	width: 800px;
	
    /*background: orange;*/
	/*background: url("../img/header_bg.gif");
	background-repeat:no-repeat;
	background-position: right bottom;*/
}

header h1 {
	margin: 0em;
	padding-top: 0.8em;
	padding-bottom: 0px;
	
}

nav {
	width: 800px;
	margin: 0px;
	padding: 0px;
	
	line-height: 1.2em;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 500;
	
	background: #ddd;
}


nav ul, li {margin: 0; padding: 0;}
nav ul { list-style: none; display: table; margin-right: 10px; }
nav li { display: table-cell;  }
nav li a { text-decoration: none; padding: 0 5px; border: 0px; }
nav li a:hover {
 	background: #f4f4f4;
 	text-decoration: none;
 	border: 0px;
}


footer {
	height: 100px;
	width: 800px;
	position: fixed;
	bottom: 0;
	
	background: #eee;
}

footer hr {
	margin-top: 2px;
}

#sticky {
	width: 800px;
	position: absolute;
	background: #eee;
}

#main {
	
	padding-top: 60px;
  	padding-bottom: 60px;
	
	height: -webkit-calc(100% - 200px);
	height: -moz-calc(100% - 200px);
	height: -ms-calc(100% - 200px);
	height; -o-calc(100% - 200px);
	height: calc(100% - 200px);

	width: 720px;
	clear: none;
	
	text-align: justify;
}

#main img {
	border: 1px;
    border-color: #aaa;
	border-style: solid;
	
	/*left: 0; right:0;
    margin: 0 auto;*/
	text-align: center;
}

#main img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#side {
	width: 194px;
	margin: 0px;
	padding: 0px;
	margin-top: 148px;
	
	float: right;
	
	line-height: 1.2em;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 500;
}

#side img {
	margin: 0px; 
	padding: 0px;
	
	border: 1px;
    border-color: #444;
	border-style: solid;
}

#side a, #side a:hover {
	border: 0px;
	text-decoration: none;
}

a, a:visited {
	text-decoration: none;
	color: #ff4100;
    border-color: #666;
    border-style: dotted;
	border: 0px;
	background-color: transparent;
	/*background-image: url("img/000.gif");*/
}

a:link {
	text-decoration: none;
	color: #ff4100;
   	border-color: #aaa;
    border-style: dotted;
	border-width: 0 0 0px 0;
}

a:hover {
	color: #ff4100;
   	text-decoration: none;
	background-color: transparent;
	text-decoration: none;
	border-color: #ff4100;
    border-style: dotted;
	border-width: 0 0 1px 0;	
	background: none;
}

/*
a:active {
	text-decoration: none;
	color: #fff;
	background-color: #f14385;
	text-decoration: none;
	border-width: 0px;
}
*/

a img, a:hover img {
	text-decoration: none;
}

a em {
	padding-bottom: 2px; /* Hack for WebKit; otherwise the underscore padding is 0 */
}


hr {
	height: 1px;
	width: 100%;
	text-align: center;
	margin: 2em auto 0em auto;
	text-align: center;
	border: 0px none;
	background-image: url("../img/ccc.gif");
	/*border-top: 1px solid #aaa;
	border-bottom: 1px solid #ccc;*/
}